# Database Connection URL (Postgres/Neon compatible)
DATABASE_URL="postgresql://username:password@hostname:port/database_name?sslmode=require"

# Express backend server configuration
PORT=5050
NODE_ENV=development
